:root {
    /* Primary  */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* Neutral  */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    
}

.flex {
    display: flex;
    justify-content: space-between;
}

p {
    color: var(--grayish-blue);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.request-btn {
    display: inline-block;
    padding: 15px 35px;
    border-radius: 30px;
    border: none;
    color: var(--white);
    background: linear-gradient(125deg, var(--lime-green), var(--bright-cyan));
    cursor: pointer;
    font-size: inherit;
}

.request-btn:hover {
    background: linear-gradient(125deg, hsl(136, 65%, 70%), hsl(192, 70%, 70%));
}

h1, h2, h3 {
    color: var(--dark-blue);
    font-weight: 300;
}

/* Navigation section  */

.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
    box-shadow: 0px 2px 4px var(--light-grayish-blue);
    overflow: visible;
}

.navbar__links {
    display: flex;
    justify-content: space-around;
}

.navbar__links li {
    padding-inline: 3%;
}

.navbar__links li a {
    color: var(--grayish-blue);
}

.navbar__links li a:hover {
    padding-bottom: 28px;
    border-bottom: 4px solid var(--lime-green);
}

/* Mobile navigation */

.navbar-mobile__checkbox {
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

.navbar-mobile__label {
    cursor: pointer;
    user-select: none;
}

/* Hero section  */

.hero {
    display: flex;
    max-height: 660px;
    background-color: var(--very-light-gray);
    background: url("images/bg-intro-desktop.svg");
    background-position: 35rem center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-between;
    padding-inline: 165px;
    margin-top: 75px;
}

.hero__text {
    max-width: 40%;
}

.hero__text h1 {
    font-size: 3rem;
}

.hero__text p {
    margin-block: 20px;
}

.hero__images {
    max-width: 40%;
}

.hero__images-mockup {
    display: block;
    margin-top: 2rem;
    margin-right: 16rem;
}

/* Advantages section  */

.advantages {
    padding: 110px 165px;
    background-color: var(--light-grayish-blue);
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages__list {
    gap: 3rem;
}

.advantages__list > div {
    flex: 1;
    min-width: 200px;
}

.advantages__list-header {
    margin: 36px 0 24px;
}

.advantages__header {
    grid-column: 1 / -1;
    max-width: 60%;
    margin-bottom: 75px;
}

.advantages__header h2 {
    font-size: 2.2rem;
    margin-bottom: 37px;
}

/* Blog section  */

.blog {
    padding: 88px 165px 80px;
    background-color: var(--very-light-gray);
    position: relative;
}

.blog h2 {
    margin-bottom: 48px;
}

.blog__cards {
    display: flex;
    /* gap: 1rem; */
}

.blog i {
    display: none;
}

.blog__card {
    border-radius: 5px;
    background-color: var(--white);
    min-width: calc(100% / 4);
    margin-right: 20px;
}

.blog__card:last-of-type {
    margin-right: 0;
}

.blog__card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.author {
    font-size: 0.8rem;
}

.blog__card-text {
    padding: 30px 25px;
}

.blog__card-text h3 {
    font-size: 1.1rem;
    font-weight: 300;
    margin-block: 10px;
}

.blog__card-text h3:hover {
    color: var(--lime-green);
    cursor: pointer;
}

.blog__card-text-content {
    font-size: 0.9rem;
}


/* Footer  */

footer {
    padding: 48px 165px;
    background-color: var(--dark-blue);
}

.footer__info {
    min-width: 50%;
}

.footer__info > div {
    flex-basis: 40%;
}

.footer__icons {
    margin-top: 55px;
}

.footer__icons > img {
    display: inline-block;
    margin-right: 12px;
}

.footer__links li {
    margin-bottom: 15px;
}

.footer__links a {
    color: var(--white);
}

.footer__additional {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

@media screen and (max-width: 1320px) {
    .blog__cards {
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .blog__card {
        min-width: calc(96% / 2);
    }

    .blog i:first-of-type {
        display: none;
    }

    .blog i:last-of-type {
        display: block;
    }

    .fa-solid {
        font-family: "Font Awesome 5 Free"; font-weight: 900; 
        padding: 1rem;
        background: linear-gradient(125deg, var(--lime-green), var(--bright-cyan));
        display: inline;
        position: absolute;
        top: 50%;
        border-radius: 50%;
        color: var(--white);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: all;
    }

    .fa-arrow-left {
        left: 105px;
    }

    .fa-arrow-right { 
        right: 105px;
    }

}

@media screen and (max-width: 1250px) {

    /* Hero section  */

    .hero {
        padding-inline: 100px;
    }

    .hero__text {
        max-width: 50%;
    }

    /* Footer  */

    footer {
        padding-inline: 5%;
    }

    footer .flex {
        flex-direction: column;
        align-items: center;
    }

    .footer__images {
        text-align: center;
    }

    .footer__icons {
        margin-top: 1rem;
    }

    .footer__links {
        text-align: center;
    }

    .footer__links:first-of-type {
        margin-top: 1rem;
    }

    .footer__links:last-of-type {
        margin-bottom: 1rem;
    }

    .footer__additional {
        justify-content: space-between;
        align-items: center;
    }

    .footer__additional .request-btn {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 840px) {

    .blog__card {
        min-width: calc(100% / 1);
    }
}

@media screen and (max-width: 800px) {

    /* Navbar  */

    .navbar {
        justify-content: space-between;
        padding-inline: 5%;
    }

    .navbar__links {
        display: none;
    }

    .navbar__buttons .request-btn {
        display: none;
    }

    .navbar-mobile__buttons {
        display: flex;
    }

    .navbar-mobile__label::after {
        content: url("images/icon-hamburger.svg");
    }

    .navbar-mobile__checkbox:checked ~ .navbar__buttons .navbar-mobile__label::after {
        content: url("images/icon-close.svg");
    }

    .navbar-mobile__checkbox:checked ~ ul { 
        display: flex;
    }

    .navbar__links {
        position: absolute;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        background-color: var(--white);
        top: 90px;
        flex-direction: column;
        border-radius: 10px;
        z-index: -1;
    }

    .navbar__links li a {
        color: var(--dark-blue);
    }

    .navbar:has(.navbar-mobile__checkbox:checked) {
        box-shadow: 
        0px 100px 120px 600px rgba(62, 67, 106, 0.6);
        -webkit-box-shadow: 0px 100px 120px 600px rgba(62, 67, 106, 0.6);
        -moz-box-shadow: 0px 100px 120px 600px rgba(62, 67, 106, 0.6);
    }

    .navbar__links li {
        text-align: center;
        margin-block: 0.7rem;
    }

    .advantages {
        padding-inline: 5%;
    }
}

@media screen and (max-width: 600px) {
    /* Hero section  */
    .hero {
        flex-direction: column;
        max-height: fit-content;
        justify-content: center;
        background: none;
        padding-inline: 0;
        margin-top: -10%;
        background-image: url("images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-position: center 20%;
        background-size: contain;
    }

    .hero__text {
        max-width: 70%;
        margin: 3rem auto 2rem;
    }

    .hero__images {
        max-width: 100%;
        width: 100%;
    }

    .hero__text {
        order: 2;
        text-align: center;
    }

    .hero__images {
        order: 1;
    }

    .hero__images-mockup {
        width: 100%;
        margin: 0;
    }

    .blog {
        padding-inline: 100px;
    }

    .fa-arrow-left {
        left: 40px;
    }

    .fa-arrow-right { 
        right: 40px;
    }
}